<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->
    <!-- SEO -->
    <title>SnaFoo - Nerdery Snack Food Ordering System</title>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="../Content/media/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../Content/media/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Content/media/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../Content/media/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Content/media/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../Content/media/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../Content/media/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../Content/media/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../Content/media/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../Content/media/images/favicon/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="../Content/media/images/favicon/favicon-160x160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../Content/media/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Content/media/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Content/media/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="../Content/media/images/favicon/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#ff0000">
    <!-- STYLESHEETS -->
    @*<link rel="stylesheet" media="screen, projection" href="../Content/styles/modern.css" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="masthead" role="banner">
        <div class="masthead-hd">
            <h1 class="hdg hdg_1 mix-hdg_extraBold">
                <a href="index.html">SnaFoo</a>
            </h1>
            <p class="masthead-hd-sub">Nerdery Snack Food Ordering System</p>
        </div>
        <div class="masthead-nav" role="navigation">
            <ul>
                <li>
                    @*<a href="Index.html">Voting</a>*@
                    @Html.ActionLink(linkText: "Voting",
                                        actionName: "Index",
                                        controllerName: "Home")
                </li>
                <li>
                    @*<a href="Suggestions.html">Suggestions</a>*@
                    @Html.ActionLink(linkText: "Suggestions",
                                        actionName: "Suggestions",
                                        controllerName: "Home")
                </li>
                <li>
                    @*<a href="ShoppingList.html">Shopping List</a>*@
                    @Html.ActionLink(linkText: "Shopping List",
                                        actionName: "ShoppingList",
                                        controllerName: "Home")
                </li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="content" role="main">
            @RenderBody()
        </div>
        <!-- /content -->
    </div>
    <!-- /wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
